In [1]:
## Strings are a series of characters such as these words encapsulated with single quotes, double quotes or if triple
## quotes if multiline

In [2]:
str1 = "Hello my first name is Fabian"

In [3]:
#extract first character shows that its an array of strings zero based
str1[0]

'H'

In [5]:
#to get the last character you use negative 1
str1[-1]

'n'

In [9]:
#when extracting strings remember that the first value IS inclusive whilst the last value is NOT inclusive
#so you will need to go one value beyond
str1[9:14]

'first'

In [11]:
#to check the lenght of the stirng
len(str1)

29

In [12]:
#to change to uppercase
str1.upper()

'HELLO MY FIRST NAME IS FABIAN'

In [13]:
str2 = "MY LAST NAME IS WILLIAMS"
str2.lower()

'my last name is williams'

In [14]:
#to get title case
str1.title()

'Hello My First Name Is Fabian'