## DataStructures

In [3]:
# they containers for multiple items some mutable and some imutable
# they are tuples, list, dictionary and sets

### Tuples

In [4]:
#key is to enclose with ()
tup1 = ("a",1,"b",2,True,"d",1.23)

In [5]:
tup1

('a', 1, 'b', 2, True, 'd', 1.23)

In [7]:
tup1[0]

'a'

In [9]:
tup1[-1]

1.23

In [12]:
#to get b through d you will need to get index 2 through 6 becasue of the inclusivity 
tup1[2:6]

('b', 2, True, 'd')

In [13]:
#its immutable so if you tryto change you will get error
tup1[0] = "z"

TypeError: 'tuple' object does not support item assignment

In [15]:
#trying to add to the end same thing
tup1[7] = 6

TypeError: 'tuple' object does not support item assignment

### Lists

In [16]:
#lists are ordered and enclosed by square brackets

In [17]:
lst1 = [1, "z", True, "x", 3, False, 1.47]

In [18]:
lst1

[1, 'z', True, 'x', 3, False, 1.47]

In [19]:
lst1[0]

1

In [20]:
lst1[-1]

1.47

In [21]:
lst1[2:6]

[True, 'x', 3, False]

In [22]:
#lists are mutable so they can take changes
lst1[0] = 10

In [23]:
lst1

[10, 'z', True, 'x', 3, False, 1.47]

In [24]:
#you can also add to the end of the list 
lst1.append("Just Added This")

In [25]:
lst1

[10, 'z', True, 'x', 3, False, 1.47, 'Just Added This']

In [26]:
#you can even add list of lists
lst1.append([5,6,7])

In [27]:
lst1

[10, 'z', True, 'x', 3, False, 1.47, 'Just Added This', [5, 6, 7]]

In [28]:
#you can remove or POP off the last values off the list by using pop
lst1.pop()

[5, 6, 7]

In [29]:
lst1

[10, 'z', True, 'x', 3, False, 1.47, 'Just Added This']

### Dictionary

In [31]:
#these are key value pairs encapsulated in curly braces

In [32]:
GabbySchoolYear2019 = {"Semester1": "High Honors", "Semester2": "Principal List", "Semester3": "High Honors"}

In [33]:
PriceOfFruits = {"Strawberry": 5, "Grapes": 2.39, "Peaches": 4.99, "Mangos": 2.99}

In [34]:
GabbySchoolYear2019

{'Semester1': 'High Honors',
 'Semester2': 'Principal List',
 'Semester3': 'High Honors'}

In [35]:
PriceOfFruits

{'Strawberry': 5, 'Grapes': 2.39, 'Peaches': 4.99, 'Mangos': 2.99}

In [37]:
PriceOfFruits.keys()

dict_keys(['Strawberry', 'Grapes', 'Peaches', 'Mangos'])

In [38]:
PriceOfFruits.values()

dict_values([5, 2.39, 4.99, 2.99])

In [39]:
PriceOfFruits["Strawberry"] = 3

In [40]:
PriceOfFruits

{'Strawberry': 3, 'Grapes': 2.39, 'Peaches': 4.99, 'Mangos': 2.99}

In [46]:
#Add another item to dictionary
GabbySchoolYear2019["Semester4"] ="High Honors"

In [47]:
GabbySchoolYear2019

{'Semester1': 'High Honors',
 'Semester2': 'Principal List',
 'Semester3': 'High Honors',
 'Semester4': 'High Honors'}

### Sets

In [48]:
# Unordered and UnIndexed enclosed in curly braces where Duplicates ARE NOT ALLOWED

In [55]:
studentspesenttoday = {"tom", "dick", "harry", "sue", 1162019}
studentspesenttoday

{1162019, 'dick', 'harry', 'sue', 'tom'}

In [58]:
#try to add unique as well as dduplicate values
studentspesenttoday = {"tom", "dick", "harry", "sue", 1162019, "mary", "jane", "sue", "sue", "sue","tom", "bill"}

In [59]:
studentspesenttoday

{1162019, 'bill', 'dick', 'harry', 'jane', 'mary', 'sue', 'tom'}

In [62]:
#you can also do add method - this adds only one at a time
studentspesenttoday.add("fabian")
studentspesenttoday

{1162019, 'bill', 'dick', 'fabian', 'harry', 'jane', 'mary', 'sue', 'tom'}

In [63]:
#you can also do update method - this takes a range
studentspesenttoday.update(["gabby", "jada"])
studentspesenttoday

{1162019,
 'bill',
 'dick',
 'fabian',
 'gabby',
 'harry',
 'jada',
 'jane',
 'mary',
 'sue',
 'tom'}